h1 {
  text-align: center;
  color: #efb11f;
}
hr {
  border: 1px solid #efb11f;
}

body {
  background-color: #743007;
}

#links,
a {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #efb11f;
  text-decoration: none;
  padding-top: 15px;
}

#sobre,
p {
  text-align: center;
  color: #efb11f;
  width: 70%;
  margin: auto;
  font-size: larger;
  padding-top: 30px;
}

.linha {
  background-color: #2a1500;
  color: black;
  width: 100%;
  margin: auto;
  padding: 20px;
}

#horarios {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  color: #efb11f;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.produto {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 30%;
  flex-direction: column;
  background-color: #2a1500;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid #efb11f;
}
h2,
h3 {
  text-align: center;
  color: #efb11f;
  width: 70%;
  margin: auto;

  padding-top: 30px;
}
